/* Navbar */
.logo {
  line-height: 1px;
}
#main {
  font-size: 40px;
}
#small {
  font-size: 21px;
}

#roundSearch1 {
  border-top-left-radius: 21.25rem;
  border-bottom-left-radius: 21.25rem;
}
#roundSearch2 {
  border-top-right-radius: 21.25rem;
  border-bottom-right-radius: 21.25rem;
  height: calc(1.5em + 0.75rem + 2px);
}

#support {
  color: black;
}
#support:hover {
  color: red;
  text-decoration: none;
}

#linksBg {
  background: #008ecb;
}

/* Home Page */
#popularProducts {
  background: #ffffff;
  padding: 80px;
}

@media only screen and (max-width: 900px) {
  .topNav {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 516px) {
  .topNav {
    display: flex;
    flex-direction: column;
  }
  #support {
    position: absolute;
    margin-top: 50px;
    display: block;
  }
  #linksBg {
    margin-top: 50px;
  }

  #main {
    font-size: 25px;
  }
  #small {
    font-size: 15px;
  }
  .logo {
    line-height: 1px;
  }
  #hiddenPhone {
    visibility: hidden;
  }
}
