/* Navbar */
.logo {
  line-height: 1px;
}
#main {
  font-size: 40px;
}
#small {
  font-size: 21px;
}

#roundSearch1 {
  border-top-left-radius: 21.25rem;
  border-bottom-left-radius: 21.25rem;
}
#roundSearch2 {
  border-top-right-radius: 21.25rem;
  border-bottom-right-radius: 21.25rem;
  height: calc(1.5em + 0.75rem + 2px);
}

#support {
  color: black;
}
#support:hover {
  color: red;
  text-decoration: none;
}

#linksBg {
  background: #008ecb;
}

/* Home Page */
.sideBarP {
  background: #b7b7b7;
  border: 2px solid lightgray;
  border-bottom: none;
  margin: 0px;
}
.shadow {
  box-shadow: 10px 5px 5px black;
}
#margin-right-remove {
  margin-right: 0;
}

/* Footer */
#footer {
  background: #12263e;
  padding: 50px 50px;
}
#footHeading {
  color: #abcde7;
}
#LinkHead,
#white {
  color: white;
}
#line-break {
  border: 2px solid white;
}
/* Pricing Cols */
.CalCol {
  background: rgba(179, 47, 47, 0.1);
  border-radius: 5px;
}
.pricingDiv {
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
  margin: 20px 0px;
}

/* Colors */
#gray,
#grayf {
  color: #a3a6a9;
}
#gray:hover {
  color: white;
  transition: 0.2s ease-in;
  text-decoration: none;
}
#white:hover {
  color: lightgray;
  transition: 0.2s ease-in;
  text-decoration: none;
}
#lightBlue {
  color: #80c7e5;
}
#lightBlue:hover {
  color: white;
  transition: 0.2s ease-in;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .topNav {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1351px) {
  #sideBarHide {
    display: none;
  }
}
@media only screen and (max-width: 516px) {
  .topNav {
    display: flex;
    flex-direction: column;
  }
  #support {
    position: absolute;
    margin-top: 50px;
    display: block;
  }
  #linksBg {
    margin-top: 50px;
  }

  #main {
    font-size: 25px;
  }
  #small {
    font-size: 15px;
  }
  .logo {
    line-height: 1px;
  }
  #hiddenPhone {
    display: none;
  }
}
